[submodule "5° Período/Sistemas Operacionais/2 - Trabalho 15 04 2021/parallel-algorithms"]
	path = 5° Período/Sistemas Operacionais/2 - Trabalho 15 04 2021/parallel-algorithms
	url = https://github.com/GustavoHenriqueMuller/parallel-algorithms
